@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* ##################################### UTILITY CLASS #############################################  */
.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.btn{
    text-decoration: none;
    display: inline-block;
    padding: 1em 2.5em;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0.5em;
    text-transform: uppercase;
    outline: none;
    font-weight: 500;
   
}
.btn-primary{
    color: #ffffff;
    background: #168083;
    font-weight: bold;
}
/* ##################################### NAVBAR STYLING ############################################ */

/* for desktop mode  */
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}
.navbar{
    box-shadow: 10px 5px 10px 3px #aaaaaa;
    position: fixed;
    width: 100%;
    background: #ffffff;
    color: #000000;
    opacity: 0.85;
    z-index: 9999;
}
.navbar-container{
    /* border: 4px solid red; */
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
.menu-item{
    order: 2;
    display: flex;
    /* border: 2px solid green; */
    
}
.menu-item li{
    margin-left: 1.5rem;
    list-style: none;
    font-size: 1.8rem;
}
.logo{
    font-size: 4rem;
    order: 1;

}
.navbar a{
    color: #444444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out
}
.navbar a:hover{
    color: #117964;
    
}

/*########################################### SHOWCASE AREA ##############################         --> */
.showcase-area{
    height: 60vh;
    background: url('./img/header-image2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.showcase-container{
    /* border: 5px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* font-size: 3rem; */
    letter-spacing: 0px;
}
.showcase-container .main-title{
    text-transform: uppercase;
    font-size: 3rem;
}
.showcase-container p{
    font-size: 2rem;
}
.btn-primary{
    font-size: 1.5rem;
}

/* ######################################### ABOUT US ################################### */
#about{
    /* border: 10px solid red; */
    padding: 50px;
    background: rgba(250, 250, 247, 0.726); 
}
.about-wrapper{
    /* border: 5px solid orange; */
    background: rgba(250, 250, 247, 0.726);
    display: flex;
    padding: 45px;
   
}
.about-text{
    width: 400px;
    flex-grow: 1;
    margin: auto;
    /* font-family: 'Times New Roman', Times, serif; */
     /* border: 5px solid red;   */
    transform: translateX(-110%);
    animation-name: text-animation;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes text-animation{
    from{
        transform: translateX(-110%);
    }
    to{
        transform: translateX(0%);
    }
}
.about-image{
    /* border: 5px solid green; */
    width: 400px;
    padding: 10px;
    flex-grow: 1;
    transform: translateX(110%);
    animation-name: image-animation;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes image-animation{
    from{
        transform: translateX(110%);
    }
    to{
        transform: translateX(0%);
    }
}


.about-image img{
    
    display: block;
    width: 100%;
   
}
.about-text .small{
    font-size: 1.9rem;
}
.about-text h2{
font-size: 4.5rem;
padding: 2px 0px;
}
.about-text p{
    font-size: 2.5rem;
    /* font-style: italic; */
}


/* ########################################## FOOD CAREGORY  #################################### */
#food{
    /* border: 10px solid black; */
    padding: 5rem 0 10rem 0;
    background: rgba(240, 240, 235, 0.836);

}
#food h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555555;
}
.food-container{
    /* border: 5px solid red; */
    display: flex;
    justify-content: space-between;
}
.food-container img{
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-position: center;
    object-fit: cover;
}
.food-type{
    /* border: 5px solid brown; */
}
.img-container{
    margin: 0 1rem ;
    /* border: 2px solid blue; */
    position: relative;
}
.img-content{
   border: 5px solid black;
   position: absolute;
   top: 90%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
   z-index: 2;
   text-align: center;
   transition: all 0.3s ease-in-out 0.1s;
}
.img-content h3{
    color: #ffffff;
    font-size: 3rem;
}
.img-content a{
    font-size: 1.2rem;
}
.img-container::after{
    content: 'y';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.871);
    /* opacity:1 ; */
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}
.img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
}
.img-container:hover .img-content{
    opacity: 1;
    top: 45%;

}
/* 4####################################### FOOD MENU STYLING ################################## */

.food-menu-heading{
    font-size: 4rem;
    text-align: center;
    font-weight: 400;
    color: #666666;
}
.food-menu-container{
    /* border: 7px solid green; */
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
}
.food-menu-container img{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.food-menu-item{
    /* border: 5px solid pink; */
    display: flex;
    flex:1 1 600px;
    margin-bottom: 2rem;
}
.description{
    margin: auto 1.5rem;
}
.food-title{
    font-size: 2.4rem;
    font-weight: 600;
    color: #444444;
}
.description p{
    font-size: 2rem;
    color: #555555;
    font-weight: 500;
}
.food-price{
    color: #117964;
    font-weight: 700;
}


/* ############################## TESTINOMIAL ############################### */
#testimonial{
    /* border: 10px  */
    /* solid green; */
    background: rgba(243, 243, 243);
    padding: 5rem 0rem;
    
}
.star-rating{
    /* border: 5px solid orange; */
}
#testimonial .testimonial-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    color: #555555;

}
.testimonial-container{
    /* border: 5px solid red; */
    display: flex;
    margin-bottom: 3rem;
    /* justify-content: space-between */
    /* flex: 1 1 400px; */
}
.testimonial-container .checked{
    color: #ff9529;
}
.testimonial-box{
    /* border: 5px solid black; */
    padding: 1rem;
    text-align: center;
    flex: 1 1 400px;
}

.testimonial-box .costomer-photo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: auto;
}
.costomer-name{
    font-size: 2rem;
    margin: 1rem 0;
}
.testimonial-box .testimonial-text{
    font-size: 2rem;
    margin: 1rem 0;
    color: #444444;
}
/* ############################################### CONTACT HTML ################################# */

#contact{
    /* border: 5px solid red; */
    padding: 5rem 0;
    background: rgba(226, 226, 226);
}
.contact-container{
    /* border: 10px solid green; */
    height: 500px;
    display: flex;
    background: #ffffff;
    flex: 1 1 600px;
}
.contact-image{
    /* border: 2px solid blue; */
    width: 50%;
   
}
.contact-image img{
    display: block;
    width: 100%;
    height: 400px;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.form-container{
    /* border: 5px solid brown; */
    padding: 1rem;
    width: 50% ;
    margin: auto;
}
input{
    width: 100%;
    display: block;
    border: none;
    border-bottom: 2px solid#dddd;
    padding: 1rem 0;
    outline: none;
    margin-bottom: 1rem;
    color: #444444;
    font-weight: 500;
}
textarea{
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    border-bottom: 2px solid #dddd ;
    color: #444444;
    padding:  1rem 0;}
.form-container h2{
    font-size: 3rem;
    font-weight: 400;
    color: #444444;
    margin-bottom: 1rem;
}
.form-container{
    font-size: 1.2rem;
}

/* ############################ Footer ###################################### */
#footer{
    text-align: center;
    font-size: 2.5rem;
    padding: 4rem;
    font-weight: 500;
    color: #ffffff;
    /* margin: 3rem; */
    /* background: rgba(65,65,65); */
 background: orangered;
 /* background: lightgoldenrodyellow; */
    color: black;
}
#footer h2{
    padding-bottom: 1rem;
}
#footer h3{
    font-size: 2rem;
    padding: 3rem 0px 1rem 0px;
    border-bottom: 2px solid lightgoldenrodyellow;
    display: inline;
    display: bl;
    
}
/* ##################################### MEDIA QUARIES ########################################### */

@media (max-width:500px){
    html{
        font-size: 2px;
    }
    .navbar{
        opacity: 5;
        z-index: 0;
    }
    .navbar-container .navbar input[type="chechbox"],
    .navbar-container .navbar .hamburger-lines{
        display: block;
        position: relative;
        height: 64px;
    }

}











