*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.first{
    border: 5px solid black;
    height: 60vh;
}
.about{
    border: 10px solid red;
    padding: 50px 0px;
    background: rgba(236, 236, 231, 0.678);
}
.text{
    border: 4px solid black;
    width: 400px;
    flex-grow: 1;
    margin: auto;
    padding: 10px;
    transform: translateX(-110%);
    animation-name: text-animation;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    -moz-animation-timing-function: ease-in-out;
}
@keyframes text-animation{
    form{
        transform: translateX(-110%);

    }
    to{
        transform: translateX(0%);
    }
} 
.container{
    border: 5px solid orange;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    background: rgba(250, 250, 247, 0.651);
    
}
.image{
    border: 3px solid green;
    flex-grow: 1;
    width: 400px;
    padding: 10px;
    transform: translateX(110%);
    animation-name: image-animation;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes image-animation{
    from{
        transform: translateX(110%);
    }
    to{
       transform: translateX(0%);
    }
}

.image img{
    display: block;
    width: 100%;
}
.container .text p{
    font-size: 1.5rem;
    font-style: italic;
}
.container .text h1{
    font-size: 3rem;
    font-weight: 800;
}
.container .text .para{
    font-size: 1.2rem;
}